<mat-toolbar class="menu">
    <h1 class="text_menu">>KHGDS1</h1>
    <button mat-button a routerLink="/home" routerLinkActive>Home</button>
    <button mat-button a routerLink="/projetos" routerLinkActive>Projetos</button>
    <button mat-button a routerLink="/social" routerLinkActive>Social</button>
    <button mat-button a routerLink="/sobre" routerLinkActive>Sobre mim</button>
    <button mat-button a routerLink="/donate" routerLinkActive>Donate</button>
</mat-toolbar>
<mat-card class="card">
    <mat-card-title>3DS</mat-card-title>
    <mat-card-subtitle class="text">FC:</mat-card-subtitle>
    <button mat-button a routerLink="/sendfc" routerLinkActive>Enviar meu FC</button>
</mat-card>
<mat-card class="card">
    <mat-card-title>Wii U</mat-card-title>
    <mat-card-subtitle class="text">FC:</mat-card-subtitle>
</mat-card>
<mat-card class="card">
    <mat-card-title>Nintendo Switch</mat-card-title>
    <mat-card-subtitle>FC:</mat-card-subtitle>
</mat-card>
