<mat-toolbar class="menu">
    <h1 class="text_menu">>KHGDS1</h1>
    <button mat-button a routerLink="/home" routerLinkActive>Home</button>
    <button mat-button a routerLink="/projetos" routerLinkActive>Projetos</button>
    <button mat-button a routerLink="/social" routerLinkActive>Social</button>
    <button mat-button a routerLink="/sobre" routerLinkActive>Sobre mim</button>
    <button mat-button a routerLink="/donate" routerLinkActive>Donate</button>
</mat-toolbar>
<p>support works!</p>
