<mat-toolbar class="menu">
    <h1 class="text_menu">>KHGDS1</h1>
    <button mat-button a routerLink="/home" routerLinkActive>Home</button>
    <button mat-button a routerLink="/projetos" routerLinkActive>Projetos</button>
    <button mat-button a routerLink="/social" routerLinkActive>Social</button>
    <button mat-button a routerLink="/sobre" routerLinkActive>Sobre mim</button>
    <button mat-button a routerLink="/donate" routerLinkActive>Donate</button>
</mat-toolbar>
<mat-card class="card">
    <img mat-card-image src="assets/img/about/profile.png" class="name">
    <mat-card-title class="name">Kledyson Goes</mat-card-title>
    <mat-card-subtitle class="name">-khgds1-</mat-card-subtitle>
    <br><br>
    <mat-card-title class="title">-Informações Básicas</mat-card-title>
    <mat-card-subtitle class="text">Idade: 19 anos</mat-card-subtitle>
    <mat-card-subtitle class="text"></mat-card-subtitle>
</mat-card>
