<!--GitHub-->
<mat-card class="card">
    <img mat-card-image src="assets/img/social/github.png" class="card_img" a href="google.com">
    <mat-card-title><a href="https://github.com/Khgds1" target="_blank">Github</a></mat-card-title>
</mat-card>
<!--Steam-->
<mat-card class="card">
    <img mat-card-image src="assets/img/social/steam.png" class="card_img">
    <mat-card-title><a href="https://steamcommunity.com/id/khgds1" target="_blank">Steam</a></mat-card-title>
</mat-card>
<!--Spotify-->
<mat-card class="card">
    <img mat-card-image src="assets/img/social/spotify.png" class="card_img">
    <mat-card-title><a href="https://open.spotify.com/user/zedascocadas" target="_blank">Spotify</a></mat-card-title>
</mat-card>
<!--Instagram-->
<mat-card class="card">
    <img mat-card-image src="assets/img/social/instagram.png" class="card_img">
    <mat-card-title><a href="https://www.instagram.com/khgds1/" target="_blank">Instagram</a></mat-card-title>
</mat-card>
<!--MyAnimeList-->
<mat-card class="card">
    <img mat-card-image src="assets/img/social/myanimelist.png" class="card_img">
    <mat-card-title><a href="https://myanimelist.net/profile/Khgds1" target="_blank">MyAnimeList</a></mat-card-title>
</mat-card>
<!--MyFigureCollection-->
<mat-card class="card">
    <img mat-card-image src="assets/img/social/myfigurecollection.png" class="card_img">
    <mat-card-title><a href="https://myfigurecollection.net/profile/Khgds1" target="_blank">MFC</a></mat-card-title>
</mat-card>
<!--Facebook-->
<mat-card class="card">
    <img mat-card-image src="assets/img/social/facebook.png" class="card_img">
    <mat-card-title><a href="https://www.facebook.com/khgds1" target="_blank">Facebook</a></mat-card-title>
</mat-card>
<!--Nintendo Network-->
<mat-card class="card">
    <img mat-card-image src="assets/img/social/nintendonetwork.png" class="card_img">
    <mat-card-title><a routerLink="/nintendo" routerLinkActive>Nintendo Network</a></mat-card-title>
</mat-card>
<!--Nintendo Online-->
<mat-card class="card">
    <img mat-card-image src="assets/img/social/nintendoonline.png" class="card_img">
    <mat-card-title><a routerLink="/nintendo" routerLinkActive>Switch Online</a></mat-card-title>
</mat-card>
<!--Discord-->
