.menu {
    background-color: black;
    color: white;
}
.text_menu {
    text-align: center;
}
.card {
    background-color: black;
    text-align: center;
    color: white;
    max-width: 10%;
    margin-top: 25px;
    margin-left: 22px;
    float: left;
}
.card_img {
    padding-top: 10px;
    max-width: 60%;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}
a:active {
    color: white;
    text-decoration: none;
}
