.toolbar {
    background-color: #EA3556;
    color: white;
}
.text_toolbar {
    text-align: center;
}
.card {
    max-width: 18%;
    background-color: #EA3556;
    margin-top: 15px;
    margin-left: 15px;
    color: white;
    text-align: center;
    float: left;
}