<mat-toolbar class="menu">
    <h1 class="text_menu">>KHGDS1</h1>
    <button mat-button a routerLink="/home" routerLinkActive>Home</button>
    <button mat-button a routerLink="/projetos" routerLinkActive>Projetos</button>
    <button mat-button a routerLink="/social" routerLinkActive>Social</button>
    <button mat-button a routerLink="/sobre" routerLinkActive>Sobre mim</button>
    <button mat-button a routerLink="/donate" routerLinkActive>Donate</button>
</mat-toolbar>
<mat-toolbar class="toolbar">
    <h1>Projetos - do recente ao mais antigo</h1>
</mat-toolbar>
<mat-card class="card" a routerLink="/amiic" routerLinkActive>
    <mat-card-title>AMIIC</mat-card-title>
</mat-card> 
<mat-card class="card" a routerLink="/home" routerLinkActive>
    <mat-card-title>Khgds1 Web Page</mat-card-title>
</mat-card>